<!DOCTYPE html>
<html>
  <head>
    <title>SPARQL Query</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>SPARQL Query</h1>
    <form method="post">
      <label for="capec">Enter CVE ID:</label>
      <input type="text" name="cveId" id="cveId" required />
      <button type="submit">Submit</button>
    </form>
    {% if results is iterable %}
    <h2>CVE Information</h2>
    <h3>CVE ID:</h3>
    <p>{{ cve_id }}</p>
    <h3>CVE Description:</h3>
    <p>{{ cve_description }}</p>
    <h2>CWE</h2>
    <ul>
      {% for key, value in cwe.items() %}
      <li>{{ key }}: {{ value }}</li>
      {% endfor %}
    </ul>
    <h2>Initial CAPEC ID</h2>
    <p>{{ initial_capec_ids | join(', ') }}</p>
    <h2>Linked CAPEC ID</h2>
    <p>{{ filtered_capec_ids | join(', ') }}</p>
    <h2>Query Results</h2>
    <table>
      <tr>
        <th>Stage</th>
        <th>Tactic</th>
        <th>Technique</th>
        <th>Sub-Technique</th>
      </tr>
      {% for row in results %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
